body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(https://w.wallha.com/ws/4/FPSBf2j9.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #ffc107;
}

hr {
  border-color: black;
  border-width: 3px;
  max-width: 200px;
}

.buffer {
  height: 20px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-primary {
  background-color: #ea7505;
  border-color: black;
}

.btn-primary:hover {
  background-color: #944800;
  border-color: black;
}

.btn-xl {
  padding: 1rem 2rem;
}